

<div class="innner_banner">
    <div class="container">
        <h3>Aprende a jugar la PollaPerú</h3>
        <ul class="breadcrumb">
        </ul>
    </div>
</div>


<div class="kode_content_wrap">
    <section class="kf_blog3_sidebar">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!--Featured 2 Slider Start-->
                    <!--Featured 2 Slider End-->

                    <div class="kf_featured_wrap3">
                        <!--Featured 2 thumb Start-->
                        <div class="kf_featured_thumb">

                            <div class="text_wrper">
                                <div class="text">
                                    <h6>PollaPerú</h6>
                                    <h2>Crea una apuesta</h2>

                                    <p>Empieza creando un grupo privado para que tus amigos se puedan unir. Entra en el menu a la opción apuestas y luego llena los campos de tu grupos según la imagen de abajo. Luego comparte la clave generada con tus amigos para que se unan a tu grupo privado. <strong>Recuerda que al crear un grupo tu eres el administrador del cual y debes aceptar las invitaciones de tus amigos para que empiezen a jugar. </strong></p>

                                </div>

                                <div class="thumb_footer">

                                    <figure>

                                        <!--<img src="~/Asset/comojugar/CrearApuesta.png" />-->
                                    </figure>



                                </div>

                                <div class="thumb_footer">


                                    <figure>

                                        <!--<img src="~/Asset/comojugar/CrearApuesta2.png" />-->
                                    </figure>

                                </div>
                            </div>
                        </div>
                        <!--Featured 2 thumb End-->

                    </div>

                    <div class="kf_featured_wrap3">
                        <!--Featured 2 thumb Start-->
                        <div class="kf_featured_thumb">

                            <div class="text_wrper">
                                <div class="text">
                                    <h6>PollaPerú</h6>
                                    <h2>Unete a un grupo ya existente</h2>

                                    <p>Si te han invitado a un grupo con un código de invitación debes de ir a la opción <strong>Apuestas</strong>  del menu e ir a la cudaro <strong>Unete</strong> ahi debes de copiar el codigo de invitación.Luego se creará un registro pendiente en <strong>Tus grupos</strong>. Debes esperar que el administrador del grupo acpete tu solicitud.</p>

                                </div>

                                <div class="thumb_footer">

                                    <figure>
                                       <!-- <img src="~/Asset/comojugar/Invitacion.png" />-->
                                    </figure>



                                </div>


                            </div>
                        </div>
                        <!--Featured 2 thumb End-->

                    </div>

                    <div class="kf_featured_wrap3">
                        <!--Featured 2 thumb Start-->
                        <div class="kf_featured_thumb">

                            <div class="text_wrper">
                                <div class="text">
                                    <h6>PollaPerú</h6>
                                    <h2>Como apostar</h2>

                                    <p>
                                        Si has creado un grupo o te has unido por invitación en la opción<strong>Apuestas</strong> en el cuadro <strong>tus grupos</strong> se llenara un registro con los datos de tu apuesta. Para pronosticar los resultados y empezar a jugar anda a botón apostar.
                                        Se abrirá una pantalla con todos los partidos del Mundial. Llena los resultados por cada partido y obten el mejor puntaje. Las apuetas se cierran un hora antes de cada partido. Puedes ir a la opción <strong>reglas</strong> para saber como obtienen los puntajes. <strong>No olvides grabar tus apuestas</strong>
                                    </p>

                                </div>

                                <div class="thumb_footer">

                                    <figure>

                                       <!-- <img src="~/Asset/comojugar/Apuesta.png" />-->
                                    </figure>

                                </div>

                                <div class="thumb_footer">

                                    <figure>

                                       <!-- <img src="~/Asset/comojugar/Apuesta2.png" />-->
                                    </figure>

                                </div>

                                <div class="thumb_footer">

                                    <figure>

                                       <!-- <img src="~/Asset/comojugar/Apuesta3.png" alt="No olvides grabar tu apuesta" />-->
                                    </figure>

                                </div>


                            </div>
                        </div>
                        <!--Featured 2 thumb End-->

                    </div>

                </div>

            </div>
        </div>
    </section>

</div>