<!--Banner Map Wrap Start-->
<div class="kode_banner_1">
    <div class="main_banner">
        <div>
            <!--Banner Thumb START-->
            <div class="thumb">




                <img src="/extra-images/banner1.jpg" />
                <div class="container">
                    <div class="banner_caption text-center">
                        <span>Polla Peru</span>
                        <h1>
                            Juega con tus patas
                        </h1>

                        <div class="btn-1 text-center">
                            <!--@Html.ActionLink("Crea tu apuesta aquí", "Index", "Apuestas")-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Banner Thumb End-->
        </div>
        <div>
            <!--Banner Thumb START-->
            <div class="thumb">
                <img src="/extra-images/banner1.jpg" />
                <div class="container">
                    <div class="banner_caption text-left">
                        <span>Polla Peru</span>
                        <h1>
                            Juega con tus patas
                        </h1>

                        <!--@Html.ActionLink("Crea tu apuesta aquí", "Index", "Apuestas", new { @class = "btn-1" })-->
                    </div>
                </div>
            </div>
            <!--Banner Thumb End-->
        </div>
        <div>
            <!--Banner Thumb START-->
            <div class="thumb">
                <img src="/extra-images/banner1.jpg" />
                <div class="container">
                    <div class="banner_caption text-right">
                        <span>Polla Peru</span>
                        <h1>
                            Juega con tus patas
                        </h1>

                        <!-- @Html.ActionLink("Crea tu apuesta aquí", "Index", "Apuestas", new { @class = "btn-1" })-->
                    </div>
                </div>
            </div>
            <!--Banner Thumb End-->
        </div>
    </div>
</div>
<!--Banner Map Wrap End-->

<div class="kf_ticker-wrap">
    <div class="container">
        <div class="kf_ticker">
            <span>Modo de jugar</span>
            <div class="kf_ticker_slider">
                <ul class="ticker">
                    <li><p>Crea una apuesta </p></li>
                    <li><p>Pasa el codigo a tu amigos </p></li>
                    <li><p>Llena tus pronosticos </p></li>

                </ul>
            </div>
        </div>
    </div>
</div>


<!--Main Content Wrap Start-->
<div class="kode_content_wrap">
    <!--Result Slider Start-->
    <div class="result_slide_wrap">
        <div class="result_slider">
            <div>

                <!--Result Thumb Start-->
                <div class="kf_result_thumb">
                    <span>item.fecha</span>
                    <div class="kf_result">
                        <div class="figure pull-left">
                            <figure>
                                <img src="@imagen1" alt="">
                            </figure>
                            <a href="#">item.nom_pai1</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="@imagen2" alt="">
                            </figure>
                            <a href="#">item.nom_pai2</a>
                        </div>
                    </div>
                    <a href="#">item.lugar</a>
                </div>
                <!--Result Slider Thumb End-->

            </div>
            <div>

                <!--Result Thumb Start-->
                <div class="kf_result_thumb">
                    <span>item.fecha</span>
                    <div class="kf_result">
                        <div class="figure pull-left">
                            <figure>
                                <img src="@imagen1" alt="">
                            </figure>
                            <a href="#">item.nom_pai1</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="@imagen2" alt="">
                            </figure>
                            <a href="#">item.nom_pai2</a>
                        </div>
                    </div>
                    <a href="#">item.lugar</a>
                </div>
                <!--Result Slider Thumb End-->

            </div>

            <div>

                <!--Result Thumb Start-->
                <div class="kf_result_thumb">
                    <span>item.fecha</span>
                    <div class="kf_result">
                        <div class="figure pull-left">
                            <figure>
                                <img src="@imagen1" alt="">
                            </figure>
                            <a href="#">item.nom_pai1</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="@imagen2" alt="">
                            </figure>
                            <a href="#">item.nom_pai2</a>
                        </div>
                    </div>
                    <a href="#">item.lugar</a>
                </div>
                <!--Result Slider Thumb End-->

            </div> <div>

                <!--Result Thumb Start-->
                <div class="kf_result_thumb">
                    <span>item.fecha</span>
                    <div class="kf_result">
                        <div class="figure pull-left">
                            <figure>
                                <img src="@imagen1" alt="">
                            </figure>
                            <a href="#">item.nom_pai1</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="@imagen2" alt="">
                            </figure>
                            <a href="#">item.nom_pai2</a>
                        </div>
                    </div>
                    <a href="#">item.lugar</a>
                </div>
                <!--Result Slider Thumb End-->

            </div>
            <div>

                <!--Result Thumb Start-->
                <div class="kf_result_thumb">
                    <span>item.fecha</span>
                    <div class="kf_result">
                        <div class="figure pull-left">
                            <figure>
                                <img src="@imagen1" alt="">
                            </figure>
                            <a href="#">item.nom_pai1</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="@imagen2" alt="">
                            </figure>
                            <a href="#">item.nom_pai2</a>
                        </div>
                    </div>
                    <a href="#">item.lugar</a>
                </div>
                <!--Result Slider Thumb End-->

            </div>

        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <!--Featured Slider Start-->
                <div class="kf_featured_slider">
                    <!--Heading 1 Start-->
                    <h6 class="kf_hd1">
                        <span>Raking de mejores grupos</span>
                    </h6>
                    <!--Heading 1 END-->
                    <div class="featured_slider">
                        <div>
                            <div class="kf_featured_thumb">
                                <figure>
                                    <img src="extra-images/feature_slider.jpg" alt="">
                                </figure>
                                <div class="text">
                                    <h6>Fifa world cup 2016</h6>
                                    <h2><a href="#">Germany vs Argentina</a></h2>
                                    <span>11 Sep, 2016 / Anna Smith</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="kf_featured_thumb">
                                <figure>
                                    <img src="extra-images/feature_slider.jpg" alt="">
                                </figure>
                                <div class="text">
                                    <h6>Fifa world cup 2016</h6>
                                    <h2><a href="#">Germany vs Argentina</a></h2>
                                    <span>11 Sep, 2016 / Anna Smith</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <aside class="col-md-4">

                <div class="widget widget_recentnews gallery">
                    <!--Heading 1 Start-->
                    <h6 class="kf_hd1">
                        <span>Raking de mejores jugadores</span>
                    </h6>
                    <!--Heading 1 END-->
                    <div class="kf_border">

                    </div>
                </div>

            </aside>
        </div>

    </div>

</section>