<body>
    <app-nav-menu></app-nav-menu>
    <div class="kode_wrapper">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>


    <script src="../estilos/js/jquery.js"></script>
    <script src="../estilos/js/bootstrap.js"></script>
    <script src="../estilos/js/slick.min.js"></script>
    <script src="../estilos/js/downCount.js"></script>
    <script src="../estilos/js/waypoints-min.js"></script>
    <script src="../estilos/js/dl-menu/modernizr.custom.js"></script>
    <script src="../estilos/js/dl-menu/jquery.dlmenu.js"></script>
    <script src="../estilos/js/jprogress.js"></script>
    <script src="../estilos/js/jquery.prettyPhoto.js"></script>
    <script src="../estilos/js/custom.js"></script>

</body>

