    <!--Footer Wrap Start-->
<footer class="kode_footer_2">
    <div class="container">
        <span class="go-up">
            <i class="fa fa-angle-up"></i>
        </span>
        <div class="row">
            <div class="col-md-4">
                <!--Widget Text Start-->
                <div class="widget widget_text">

                    <h1><a>Polla Peru</a></h1>
                    <ul class="kf_contact_meta">
                        <li>
                            <span class="icon-placeholder"></span>
                            <address>Lima-Peru</address>
                        </li>


                    </ul>
                </div>
                <!--Widget Text End-->
            </div>
            <div class="col-md-4">
                <div class="widget widget_link2">
                    <h2 class="kf_hd7">Menu</h2>
                    <!--Widget Recent Post Start-->
                    <ul class="links_dec links_dec2">
                        <li>
                            <!--@Html.ActionLink("Apuestas", "Index", "Apuestas", routeValues: null, htmlAttributes: null)-->

                        </li>

                        <li>
                           <!-- @Html.ActionLink("Fase Apuesta", "FaseApuesta", "Apuestas", routeValues: null, htmlAttributes: null)-->

                        </li>

                        <li>
                           <!-- @Html.ActionLink("Administrar Invitaciones", "Aceptar_apuesta", "Apuestas", routeValues: null, htmlAttributes: null)-->

                        </li>


                        <li>
                            <!--@Html.ActionLink("Reglas", "Reglas", "Apuestas", routeValues: null, htmlAttributes: null)-->

                        </li>


                        <li>
                            <!--@Html.ActionLink("Contacto", "Reglas", "Apuestas", routeValues: null, htmlAttributes: null)-->

                        </li>
                    </ul>
                    <!--Widget Recent Post End-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recentpost2">

                    <!--Link Dec Start-->
                    <ul class="link_rnt_post">

                        <li>
                            <div class="kf_recentnews">
                                <figure>

                                    <img src="~/Asset/images/mundial-rusia-2018.jpg" />
                                </figure>

                            </div>
                        </li>
                    </ul>
                    <!--Link Dec End-->
                </div>
            </div>

        </div>
    </div>
</footer>
<!--Footer Wrap End-->
<!--Copy Right Wrap Start-->
<div class="copy_right3">
    <div class="container">
        <p>creado por <a href="#">Polla Peru</a></p>
        <ul class="kf_social3">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
<!--Copy Right Wrap End-->
<!--Register Pop Up Wrap Start-->
<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="search">
    <div class="modal-dialog" role="document">
        <div class="input_dec">
            <input type="text" placeholder="search......">
            <button class="btn_icon"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
<!--Register Pop Up Wrap End-->